html{  margin-left: 80px;
    margin-right: 80px;
    padding: 0;   
    font-size: 100%;   
    vertical-align: baseline;   
    border: 5px; 
    text-align: center;
    border-style: solid;}

body, header, footer, hgroup, nav, article, section, figure,  figcaption, h2, h3, body, div, p, img 
{   margin-left: 90px;
    margin-right: 90px;
    padding: 0;   
    font-size: 100%;   
    vertical-align: baseline;   
    border: 10px; 
    text-align: center;
}

h1{   margin: 10px;   
    padding: 0;   
    font-size: 200%;   
    vertical-align: baseline;   
    border: 10px; 
     text-align: center;
}

h2{   margin: 10px;   
    padding: 0;   
    font-size: 150%;   
    vertical-align: baseline;   
    border: 10px;
     text-align: center;
}
h3{   margin: 10px;   
    padding: 0;   
    font-size: 120%;   
    vertical-align: baseline;   
    border: 10px; 
     text-align: center;
}
ul{   margin: 10px;   
    padding: 0;   
    font-size: 100%;   
    vertical-align: baseline;   
    border: 10px; 
    
}


div{
    font-weight: bold;
    color : sandybrown;}